body{
    margin: 0px;
}
header{
    display: flex;
    background-color: rgb(226, 219, 219);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
}

.logohref
{
    margin-left: 5%;
    height: auto;
    box-sizing: border-box;
}
.logo{
    height: auto;
    width: 11vw;
    max-width: 200px;
    box-sizing: border-box;
  
}

.icons{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    width: 20vw;
    margin-right: 2%;
}

.icon{
    width: 3vw;
    height: 3vw;
}
.settings{
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    background-color: rgb(226, 219, 219);
}

main{
    background-color: rgb(255, 255, 255);
    margin-bottom: 3%;
}
.img{
    width: 40%;
    height: 28vw;
    border: 4px solid rgb(87, 52, 52);
    border-radius: 5%;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px + 1vw/2);
    margin-bottom: 0;
    font-family: Comic Sans MS;
    width: 100%;
}
.txt{
    background-color: rgb(226, 219, 219);
    border-radius: 10px;
    padding: 10px;
    color:  rgb(0, 0, 0);
    font-size: calc(14px + 1vw/5);
    font-family: Comic Sans MS;
}

.sections{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 10;
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}



/* Slideshow container */
.slideshow-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3%;
    height: 40vw;
    box-sizing: border-box;
}
  
  /* Hide the images by default */
.mySlides {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10%;
    width: 70vw;
    height: 30vw;
    box-sizing: border-box;
}
.txtslides{
    margin: 0;
    margin-bottom: 1vw;
    font-size: calc(14px + 1vw);
    height: 4vw;
}
.br{
    border: 4px solid rgb(87, 52, 52);
    border-radius: 5%;
    width: 97%;
    height: 30vw;
    box-sizing: border-box;
}




/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.3s ease;
    border-radius: 10px;
    margin-top: 19vw;
}
  
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(128, 34, 34, 0.8);
}
  /* The dots/bullets/indicators */
.dot {  
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 40%;
    display: inline-block;
    transition: 0.3s ease;
    
}
.dots{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    width: 50px;
    bottom: 0;
}
.active, .dot:hover {
    background-color:  rgba(128, 34, 34, 0.8);
}  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
  
@-webkit-keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}






footer{
    position: relative;
    background-color:  rgb(226, 219, 219);
    height: 20vh;
}

.position{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 24%;
    bottom: 0%;
    left: 2%;
}
.pos{
    width: 20px;
    height: 20px;
}
.href{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}